@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #0b0b12;
    color: #e5e7eb;
    font-family: system-ui;
}

.scrollbar::-webkit-scrollbar {
    width: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #3b3b5a;
    border-radius: 10px;
}